/* body {
  margin: 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

.App {
  text-align: center;
  color: #2c3e50;
  /* margin-top: 60px; */
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

@media screen and (max-width: 400px) {
  .App {
    padding-bottom: 50vh;
    height: 0;
    width: 50vh;
  }
}

@media screen and (min-width: 401px) {
  .App {
    padding-bottom: 70vh;
    height: 0;
    width: 70vh;
  }
}
